<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @manab.title %>
</p>

<p>
  <strong>Manabi:</strong>
  <%= @manab.manabi %>
</p>

<%= link_to 'Edit', edit_manab_path(@manab) %> |
<%= link_to 'Back', manabs_path %>
